@using MVC.PracticeTask_1.Models;
@model List<Book>
<div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
     data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 5,
                            "rows":1,
                            "dots":true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>
    @foreach (var book in Model)
    {
        <div class="single-slide">
            <div class="product-card">
                <div class="product-header">
                    <a href="#" class="author">
                        @book.Author.FullName
                    </a>
                    <h3>
                        <a href="product-details.html">
                            @book.Name
                        </a>
                    </h3>
                </div>
                <div class="product-card--body">
                    <div class="card-image">
                        <img src="~/uploads/books/@book.BookImages.FirstOrDefault(bi => bi.isPoster == true)?.ImgUrl" alt="">
                        <div class="hover-contents">
                            <a href="product-details.html" class="hover-image">
                                <img src="~/uploads/books/@book.BookImages.FirstOrDefault(bi => bi.isPoster == false)?.ImgUrl" alt="">
                            </a>
                            <div class="hover-btns">
                                <a href="cart.html" class="single-btn">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                                <a href="wishlist.html" class="single-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <a href="compare.html" class="single-btn">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#quickModal"
                                   class="single-btn">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price-block">
                        <span class="price">@book.SalePrice - @(book.SalePrice * book.DiscountPercent)/100</span>
                        <del class="price-old">@book.SalePrice</del>
                        <span class="price-discount">@(book.DiscountPercent)%</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
