@model Book;
<style>
    .form-container {
        max-width: 800px;
        margin-bottom: 70px;
        padding: 50px;
        border-left: 7px solid #435d7d !important;
        border-radius: 3px;
    }

    .btn-info, .btn-primary {
        width: 150px;
    }
</style>
<div class="container shadow form-container">
    <div class="mb-3">
        <h1>Create a Book</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <input asp-for="Desc" type="text" class="form-control">
            <span asp-validation-for="Desc" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Code</label>
            <input asp-for="Code" type="text" class="form-control">
            <span asp-validation-for="Code" style="color:red"></span>
        </div>

        <div class="row col-12" style="padding: 0px;">

            <div class="mb-3 col-md-6">
                <label for="" class="form-label">CostPrice</label>
                <input asp-for="CostPrice" type="number" class="form-control">
                <span asp-validation-for="CostPrice" style="color:red"></span>
            </div>

            <div class="mb-3 col-md-6">
                <label for="" class="form-label">SalePrice</label>
                <input asp-for="SalePrice" type="number" class="form-control">
                <span asp-validation-for="SalePrice" style="color:red"></span>
            </div>

        </div>
        <div class="row col-12" style="padding:0px;">
            <div class="mb-3 col-md-6">
                <label for="" class="form-label">Tax</label>
                <input asp-for="Tax" type="number" class="form-control">
                <span asp-validation-for="Tax" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label for="" class="form-label">Discount</label>
                <input asp-for="DiscountPercent" type="number" class="form-control">
                <span asp-validation-for="DiscountPercent" style="color:red"></span>
            </div>
        </div>
        <div class="row col-12" style="padding:0px;">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="GenreId">Genres</label>
                <select asp-for="GenreId" class="form-select" aria-label="Default select example" style="margin-left:10px">
                    @foreach (var genre in ViewBag.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" style="color:red"></span>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="AuthorId">Authors</label>
                <select asp-for="AuthorId" class="form-select" aria-label="Default select example" style="margin-left:10px">
                    @foreach (var author in ViewBag.Authors)
                    {
                        <option value="@author.Id">@author.FullName</option>
                    }
                </select>
                <span asp-validation-for="AuthorId" style="color:red"></span>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label asp-for="TagIds">Tag</label>
                <select asp-for="TagIds" class="form-select" aria-label="Default select example" style="margin-left:10px">
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span asp-validation-for="TagIds" style="color:red"></span>
            </div>
        </div>

        <div class="row col-12 my-4 align-items-center flex-column" style="padding:0px;">
            <div class="col-md-12 d-flex align-items-center justify-content-center mt-4">
                <label asp-for="BookMainImage">MainImage</label>
                <input class="form-control  ml-3" asp-for="BookMainImage" />
                <span asp-validation-for="BookMainImage" style="color:red"></span>
            </div>
            <div class="col-md-12 d-flex align-items-center justify-content-center mt-4">
                <label asp-for="BookHoverImage">HoverImage</label>
                <input class="form-control  ml-3" asp-for="BookHoverImage" />
                <span asp-validation-for="BookHoverImage" style="color:red"></span>
            </div>
            <div class="col-md-12 d-flex align-items-center justify-content-center mt-4">
                <label asp-for="ImageFiles">SlideImages</label>
                <input class="form-control ml-3" asp-for="ImageFiles" />
                <span asp-validation-for="ImageFiles" style="color:red"></span>
            </div>
        </div>
        <div class="row col-12 my-4 align-items-center flex-row">
            <div class="form-check form-switch mt-5 mb-3 col-md-3" style="padding-left:40px;">
                <input class="form-check-input" type="checkbox" id="" asp-for="IsAvailable">
                <label class="form-check-label" asp-for="IsAvailable">Availability</label>
                <span asp-validation-for="IsAvailable" style="color:red"></span>
            </div>
            <div class="form-check form-switch mt-5 mb-3 col-md-3" style="padding-left:40px;">
                <input class="form-check-input" type="checkbox" id="" asp-for="isBestseller">
                <label class="form-check-label" asp-for="isBestseller">BestSeller</label>
                <span asp-validation-for="isBestseller" style="color:red"></span>
            </div>
            <div class="form-check form-switch mt-5 mb-3 col-md-3" style="padding-left:40px;">
                <input class="form-check-input" type="checkbox" id="" asp-for="isFeatured">
                <label class="form-check-label" asp-for="isFeatured">Featured</label>
                <span asp-validation-for="isFeatured" style="color:red"></span>
            </div>
            <div class="form-check form-switch mt-5 mb-3 col-md-3" style="padding-left:40px;">
                <input class="form-check-input" type="checkbox" id="" asp-for="isNew">
                <label class="form-check-label" asp-for="isNew">New</label>
                <span asp-validation-for="isNew" style="color:red"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-25">Submit</button>
        <a class="btn btn-info" asp-action="Index" asp-controller="Book">Back To Home</a>
    </form>
</div>