@model PaginatedList<Order>
@{
    var counter = 0;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<style>
    .table-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;
        background-color: #435d7d !important;
    }

    .percentage {
        width: 60px;
    }

    .table-title .title {
        font-weight: 700;
    }

    .table-title span {
        font-weight: 300;
    }

    .create-btn {
        width: 110px;
    }

</style>
<div class="container-fluid">
    <div class="table-title text-white">
        <h1 class="title">Orders <span>Table</span></h1>
    </div>
    <table class="table table-hover table-striped shadow">
        <thead class="thead-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Order Id</th>
                <th scope="col">User status</th>
                <th scope="col">Full Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Created date</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@order.Id</td>
                    <td>@(order.UserId != null ? "Member" : "Guest")</td>
                    <td>@order.FullName</td>
                    <td>@order.TotalPrice.ToString("0.00") AZN</td>
                    <td>@order.CreatedDate?.ToString("MMMM dd, yyyy H:mm:ss")</td>
                    <td> <span class="badge text-white text-bg-@(order.OrderStatus == OrderStatus.Pending ? "secondary" : order.OrderStatus == OrderStatus.Accepted ? "success" : "danger")" style="padding: 6px 12px;">@order.OrderStatus</span></td>
                    <td><a asp-action="Detail" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-warning text-white"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item @(Model.HasPreviousPage == true ? " " : "disabled")">
                <a class="page-link" asp-action="index" asp-controller="Order" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")"><a class="page-link" asp-action="index" asp-controller="Order" asp-route-page="@i">@i</a></li>
            }
            <li class="page-item @(Model.HasNextPage == true ? " " : "disabled")">
                <a class="page-link" asp-action="index" asp-controller="Order" asp-route-page="@(Model.PageIndex + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>